/* geral */

body, p, h1, h2, input, textarea {
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



h2 {
    font-size: 30px;
}
 
/* navbar */
#navbar {
    background-color: blueviolet;
    color: #fff;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2{
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    height: 60px;
    position: absolute;
    top: 10px;
}

#navbar nav {
    float: right;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: #fff;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #fff;
}

/* banner */
#main-banner {
    height: 70vh;
    background-image: url('img/img7.fundo.webp');
    background-size: cover;
    padding-top: 15vh;
}

#banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    padding: 50px;

}

#banner-info img {
    height: 120px;
    border-radius: 50%;
    background-color: blueviolet;
    margin-top: 30px;
    margin-bottom: 30px;

}

#banner-info p {
    /*background-color: blueviolet; */
    font-weight: bold;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

/* about */

#about-section {
    text-align: center;
    background-color: blueviolet;
    color: #fff;
    padding-top: 50px;
    height: 350px;

}


#about-section h2 {
    margin-bottom: 20px;
}

#about-section p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}

/* skills */

#skills-section {
    margin-top: -100px;
    background-color: #fff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #DDD;
    border-radius: 10px;
}

#skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.central {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.skills-container h3 {
    color: blueviolet;
    font-size: 20px;
}

.skills-container img {
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid blueviolet;
    border-left: 1px solid blueviolet;
    border-bottom: 4px solid blueviolet;
    border-right: 4px solid blueviolet;
}

.skills-container .subtitle {
    font-weight: bold;
    color: blueviolet;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container p {
    line-height: 25px;
}

/* jobs */

#jobs-section {
    text-align: center;
    padding-top: 50px;
}

#jobs-section h2 {
    color: blueviolet;
    margin-bottom: 30px;
}

#jobs-section p {
    margin-bottom: 50px;
}

#jobs-section a {
    font-weight: bold;
    color: blueviolet;
}

.job-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.job-box {
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    background-size: cover;
    border-right: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
}

.proj1 {
    background-image: url('img/img8.ponto.jpg');
}

.proj2 {
    background-image: url('img/img8.ponto.jpg');
}

.proj3 {
    background-image: url('img/img8.ponto.jpg');
}

.proj4 {
    background-image: url('img/img8.ponto.jpg');
}

.proj5 {
    background-image: url('img/img8.ponto.jpg');
}

.proj6 {
    background-image: url('img/img8.ponto.jpg');
}


footer {
    padding: 50px 0;
    background-color: blueviolet;
    color: #fff;
    text-align: center;
}

footer img {
    height: 130px;
    margin: 30px 0;
}

footer p {
    margin-top: 25px;
}

footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer input, footer textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 350px;
    display: block;
}

footer .detail {
    font-weight: bold;
}


/* responsivo celulares */



@media(max-width: 450px) {

    /* geral */
    p, input, textarea {
        font-size: 1.2rem;
    }

/* navbar */
#navbar h2 {
    display: none;
}

#navbar img {

    top: 9px;
}


#navbar ul {
    margin-top: 1.1rem;
}

#main-banner {
    height: 40vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

#banner-info {
    width: 60%;
}

#banner-info p {
    margin: 0;
    width: auto;
}

/* about */

#about-section {
    padding: 2rem;
    height: auto;
    padding-bottom: 50px;
}

/* skills */

#skills-section {
    margin-top: -35px;
    width: 90%;
}

#skills-section .container{
    flex-direction: column;
}

#skills-container h3, .skills-container .subtitle {
    font-size: 1.3rem;
}

.skills-container {
    padding: 25px;
}

.skills-container .central{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

/* jobs */

#jobs-section h2, #jobs-section p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.job-container {
    flex-direction: column;
    margin-bottom: 0;
}

.job-box {
    margin-bottom: 2rem;
    flex: 1 1 300px;
}

/* footer */

footer {
    padding: 50px 15px;
}

footer form {
    width: 100%;
}

.DETAIL {
    margin-top: 10PX;
    display: block;
}

}